<div class="foods edit">
	<h1>Foods#edit</h1>
	<%= form_for(:food,:url=>{:action=>'update',:id=>@food.id}) do |f| %>
		<%= render(:partial=>'shared/foods_new_edit',:locals=>{:f=>f}) %>
		<%= f.submit("Update Menu") %>
	<% end %>
</div>


