<div class="foods new">
	<h1>Foods#new</h1>
	<%= form_for(:food,:url=>{:action=>'create',:id=>@food.id}) do |f| %>
		<%= render(:partial=>'shared/foods_new_edit',:locals=>{:f=>f}) %>
		<%= f.submit("Add food to menu") %>
	<% end %>
</div>